/* TODO
- [X] Change px to rem units.
- [X] Use media quries to make this app responsive.
- [X] Make the design between desktop and mobile, a TINY bit more consistent. 
- [ ] Change the look of the nav-bar. Make it more compact and take less space. */

/* Variables */
:root {
    --bg: #323438;
    --fg: #eceff4;
    --correct-color: #a3be8c;
    --wrong-color: #bf616a;
    --panel-bg: #131415;
    --panel-fg: #eceff4;
    --options-fg: var(--panel-bg);
    --options-bg: #ebcb8b;
    --question-bg: #81a1c1;
    --question-fg: var(--panel-bg);
    --start-bg: var(--bg);
    --start-fg: var(--correct-color);
    --reset-bg: var(--bg);
    --reset-fg: var(--wrong-color);
    --next-bg: #8fbcbb;
    --next-fg: var(--panel-bg);
    --next-disabled-bg: #202020;
    --next-disabled-fg: var(--bg);
    --question-font: 1.8rem;
    --option-font: 1.6rem;
    --status-font: 1rem;
    --next-font: 1.6rem;
    --font-family: 'Mononoki Nerd Font', monospace;
    --panels-width: 30%;
    --mcq-width: 75%;
    --border-radius-m: 12px;
    --shadow-for-all: 0 0 1.2rem rgba(0, 0, 0, 0.8);
    --transition-time: 0.4s;
    --timer-font: calc(var(--status-font) * 5);
    --timer-fg: var(--correct-color);
}

/* tHe DeSiGn (this was really painful) */
html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcq {
    height: 100%;
    width: var(--mcq-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--panel-bg);
    color: var(--panel-fg);
    /* border-radius: var(--border-radius-m); */
    box-shadow: var(--shadow-for-all);
    /* margin: 1%; */
    /* padding: 0.5%; */
}

.nav-btn {
    height: 80%;
    width: 5%;
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--bg);
    color: var(--fg);
    border: none;
    border-radius: var(--border-radius-m);
    font-size: calc(var(--status-font) * 1);
    font-family: var(--font-family);
    cursor: pointer;
    box-shadow: var(--shadow-for-all);
    transition: var(--transition-time);
}

.panel {
    height: 96%;
    width: var(--panels-width);
    background-color: var(--panel-bg);
    color: var(--panel-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--status-font);
    border-radius: var(--border-radius-m);
    margin: 1%;
    box-shadow: var(--shadow-for-all);
    transition: 0.2s;
}

.panel>.fileUpload {
    padding: 0.3334rem;
    border: none;
    font-family: var(--font-family);
}

.inactive {
    /* display: none; */
    /* transition: var(--transition-time); */
    opacity: 0;
    pointer-events: none;
    transform: translate(-25%);
    /* transform: scale(0.7); */
}

.options {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    gap: 0.56rem;
}

#option {
    width: 43.5%;
    height: 14%;
    padding: 0.56rem;
    margin-top: 1.12rem;
    border: none;
    background-color: var(--options-bg);
    color: var(--options-fg);
    font-size: var(--option-font);
    font-family: var(--font-family);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-for-all);
    transition: var(--transition-time);
}

#option:hover {
    background-color: var(--options-fg);
    color: var(--options-bg);
}

.enabled {
    background-color: var(--next-bg);
    color: var(--next-fg);
}

.enabled:hover {
    background-color: var(--next-fg);
    color: var(--next-bg);
}

.disabled {
    color: var(--next-disabled-fg);
    background-color: var(--next-disabled-bg);
}

.next {
    width: 92%;
    height: 6%;
    margin: 1.12rem;
    padding: 0.56rem;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--next-font);
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-for-all);
    transition: var(--transition-time);
}

.maxq {
    width: 30%;
    margin: 0.3334rem;
    padding: 0.56rem;
    border: none;
    border-radius: calc(var(--border-radius-m)/2);
    font-family: var(--font-family);
    font-size: var(--status-font);
    color: var(--fg);
    background-color: var(--bg);
}

input[type="file"]::file-selector-button {
    color: var(--next-bg);
    background-color: var(--bg) !important;
    border: none;
    padding: 0.56rem;
    border-radius: var(--border-radius-m);
    font-family: var(--font-family);
    font-size: 0.75rem !important;
    font-weight: bold;
    transition: var(--transition-time);
}

input[type="file"]::file-selector-button:hover {
    color: var(--bg);
    background-color: var(--next-bg) !important;
    cursor: pointer;
}

input[type="file"] {
    color: var(--fg);
    font-family: var(--font-family);
    font-size: var(--status-font);
}

.question {
    display: flex;
    width: 85%;
    /* height: 10%; */
    padding: 2.5rem;
    margin: 0.56rem;
    margin-top: 1.12rem;
    align-items: center;
    justify-content: center;
    font-size: var(--question-font);
    font-family: var(--font-family);
    background-color: var(--question-bg);
    color: var(--question-fg);
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-for-all);
}

.start {
    color: var(--start-fg);
    background-color: var(--start-bg);
    padding: 0.875rem;
    margin: 0.3334rem;
    width: 35%;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-for-all);
    transition: var(--transition-time);
    font-family: var(--font-family);
    font-size: var(--status-font);
}

.start:hover {
    background-color: var(--start-fg);
    color: var(--start-bg);
}

.reset {
    color: var(--reset-fg);
    background-color: var(--reset-bg);
    padding: 0.875rem;
    margin: 0.3334rem;
    width: 35%;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-for-all);
    transition: var(--transition-time);
    font-family: var(--font-family);
    font-size: var(--status-font);
}

.reset:hover {
    background-color: var(--reset-fg);
    color: var(--reset-bg);
}

.score {
    font-weight: bold;
}

.qcount {
    font-weight: bold;
}

.stats {
    margin: 0.56rem;
    padding: 0.56rem;
    font-family: var(--font-family);
    font-size: var(--status-font);
    font-weight: bold;
}

.timer {
    height: 100%;
    /* width: 2%; */
    color: var(--timer-fg);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    align-self: flex-end;
    font-family: var(--font-family);
    font-size: calc(var(--status-font) * 3);
    margin-right: 1%;
    border: none;
}

.timer-input {
    margin: 0.56rem;
    width: 50%;
    font-size: var(--status-font);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    margin: 0.12rem;
}

.timer-seconds,
.timer-minutes {
    width: 20%;
    margin: 0.3334rem;
    padding: 0.56rem;
    border: none;
    border-radius: calc(var(--border-radius-m)/2);
    font-family: var(--font-family);
    font-size: var(--status-font);
    color: var(--fg);
    background-color: var(--bg);
}

@media (max-width: 1140px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .mcq {
        width: 100%;
    }

    .main {
        flex-direction: column;
    }

    .stats {
        margin: 0;
        font-size: 1rem;
        text-align: center;
    }

    /* .nav-bar {
        width: 92%;
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--panel-bg);
        color: var(--panel-fg);
        border-radius: var(--border-radius-m);
        box-shadow: var(--shadow-for-all);
        margin: 2%;
        padding: 1%;
    } */

    .timer {
        font-size: calc(var(--status-font) * 2);
        margin-right: 2%;
    }

    .nav-btn {
        width: 10%;
    }

    .panel {
        width: 90%;
        height: 35%;
        background-color: var(--panel-bg);
        backdrop-filter: blur(12px);
        color: var(--panel-fg);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        font-family: var(--font-family);
        font-size: var(--status-font);
        border-radius: var(--border-radius-m);
        box-shadow: var(--shadow-for-all);
        position: absolute;
        translate: 0 -40%;
        transition: 0.2s;
    }

    .inactive {
        opacity: 0;
        transform: scale(0.8);
        pointer-events: none;
    }

    :root {
        --question-font: 2rem;
        --option-font: 1.4rem;
        --status-font: 1.2rem;
        --next-font: 1.4rem;
    }

    .question {
        padding: 1.5rem;
    }

    #option {
        padding: 0.3334rem;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 10px;
    }

    .question {
        padding: 1.5rem;
    }

    #option {
        padding: 0.2rem;
    }
}